# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Scripts data
scripts/get-episodes/data-spanish
scripts/get-episodes/data-english
scripts/get-episodes/utils/seasons-ids.json
scripts/get-episodes/utils/hidden-utils.js
scripts/save-episodes/utils/serviceAccountKey.json
scripts/get-ratings.js
scripts/episodes.json
scripts/get-episodes-pictures/utils/Constants.js

# Firebase config
config/firebase.config.json

# Images data
assets/images/episodes


